/* GLOBAL STYLES */
html {
	box-shadow: 0 0 0 30px #000 inset;
	padding: 0 30px;
}
body {
	display: flex;
  flex-direction: column;
	min-height: 100vh;
  font-family: helvetica, arial, sans;
}
.content-container {
	flex: 1 1 auto;
	padding-top: 10vh;
	width: 100%;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
a {
  color: #6397b5;
}
p {
  line-height: 1.5;
	margin: 0.75em 0;
}
h2 + p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;
}
.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  left: -30px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 10vh;
}
.header-logo:hover,
.header-logo:active {
  background-color: #ed6e2f;
}
.header-logo img {
  width: 4.3vh;
}
.header-nav {
  float: right;
  padding: 5.5vh 60px 0 0;
}
.header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #fff;
}
.nav-links a {
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover,
.nav-links a:active  {
  color: #ed6e2f;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #fff;
}

/* FOOTER STYLES */
.footer {
  background-color: #000;
  padding: 10vh 0 15vh;
	width: 100%;
  text-align: center;
}
.footer-logo img {
  width: 50px;
}
.footer h3 {
  color: #fff;
  padding-top: 1.5em;
  text-transform: uppercase;
}
.footer h3 span {
  color: #aaa;
}
.footer-nav li {
  display: inline-block;
  margin: 2em 1em 0;
}
.footer-nav a {
  color: #ccc;
}
.footer-social-links li {
	display: inline-block;
  margin: 1.3em 0.5em;
}

/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  box-sizing: border-box;
	background-size: cover;
  height: 90vh;
  padding-top: 10vh;
}
.full-hero:after {
	border: 10px solid;
  border-color: #fff transparent transparent;
  bottom: 2vh;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
.hero-home {
  background-image: url(/images/shark.jpg);
	background-position: center top;
}
.hero-content {
  color: #fff;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 50%;
  transform: translate(0, -50%);
}
.hero-content h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7vw;
  margin-bottom: 0.25em;
}
.hero-content .social-link {
  background-color: rgba(255, 255, 255, 0.8);
  color: #557c83;
}
.hero-content .social-link:hover {
  background-color: #000;
  color: #fff;
}

/* SOCIAL STYLES */
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-link {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  height: 2.5em;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  width: 2.5em;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* homepage style */
.home-section h2 {
	margin bottom: 1.5em;
	text-align: center;
}
.home-callout {
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 7vh 0;
}
.home-callout h3 {
  color: inherit;
  margin-top: 1em;
}
.callout-title {
  flex: 1;
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}
.callout-copy {
  flex: 0 0 45em;
  padding: 0 3vw;
  font-size: 0.8rem;
}

/* BIO STYLES */
.bio-wrapper {
  font-size: 24px;
  margin: auto;
  max-width: 960px;
  overflow: hidden;
}
.bio-box {
  box-sizing: border-box;
  float: left;
  font-size: 1rem;
	margin: 6rem 0 0;
  padding: 0 3%;
  width: 33%;
}
.bio-box h3 {
  color: #fff;
  font-size: 1.5em;
  margin: -40px 0 1em;
  text-align: center;
	text-transform: uppercase;
}
.bio-box img {
  width: 100%;
}
.bio-box .social-link {
  display: block;
	margin: 2em auto 1em;
}
.bio-copy {
  font-size: 0.75em;
}
.bio-copy a {
  color: green;
}
